<html>
<%- include ('nav.ejs') %>
<body>
<article class="message is-danger">
  <div class="message-header">
    <p>Error</p>
  </div>
  <div class="message-body">
    Captcha failed.
  </div>
</article>
</body>
</html>